<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Impos/IdeaProjects/ufukexam">
        <classes>
            <class name="com.ufuk.test.Automation">
                <methods>
                    <include name="Test"/>
                </methods>
            </class>
            <class name="com.ufuk.test.GuruLoginTest">
                <methods>
                    <include name="loginValid"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>